!!! 5
html(lang='en')
  head
    title= title

    meta(
      name='description'
      content='A framework for easily creating beautiful presentations using Jade/Express'
    )
    meta(
      name='author'
      content='Hakim El Hattab, Brian Frichette'
    )
    meta(
      name='apple-mobile-web-app-capable'
      content='yes'
    )
    meta(
      name='apple-mobile-web-app-status-bar-style'
      content='black-translucent'
    )
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    )

    link(
      rel='stylesheet'
      href='/styles/reveal.min.css'
    )
    link(
      rel='stylesheet'
      href='/styles/theme/default.css'
      id='theme'
    )

    //- For syntax highlighting
    link(
      rel='stylesheet'
      href='/lib/css/zenburn.css'
    )

    //- If the query includes 'print-pdf', use the PDF print sheet
    script
      Element.prototype.hasClass = function(name) {
        var classNames = this.className.split(/[\s\n]+/);
        for (var i = 0, len = classNames.length; i < len; i++) {
          if (classNames[i] === name) return true;
        }

        return false;
      };
      document.write('<link rel="stylesheet" href="/styles/print/' + (window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );

    //if lt IE 9
      <script src="/lib/js/html5shiv.js"></script>

  body
    div.reveal
      div.slides
        block slides

    script(src='/lib/js/head.min.js')
    script(src='/javascripts/reveal.min.js')
    script(src='/javascripts/reveal-init.js')